@charset "utf-8";

*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
	font-family: 'Barlow Condensed';
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

body {
	
}

.clear{
	clear: both;
}

.conteudoModal{
	width: 50%;
	padding: 2px;
}

.center{
	margin: 0 auto;
	width: 1200px;
	padding: 5px;
}

header {
	width:100%;
	max-width:100%;
	padding: 1px;
	margin-bottom: 20px;
	background-color: #00006f;
	color: #1a237e; 
	box-shadow: 0px 2px 2px #ccc
} 

header img{
	width: 16px;
	height: 16px;
}

#conteudo {
	padding: 0px 8px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	color: #424242;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}