<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core"> 
<h:head>

<meta charset="UTF-8"/>
<title>Despesas</title>

<h:outputStylesheet library="sistema" name="estilo.css"/>

</h:head>
<h:body>

	<header>
		<div class="center">
			<h:graphicImage library="sistema" name="logo.png"></h:graphicImage>
		</div>
	</header>
	
	<div id="conteudo">
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="Login: " for="login"></h:outputLabel>
				<h:inputText id="login"></h:inputText>
				
				<h:outputLabel value="Senha: " for="senha"></h:outputLabel>
				<h:inputText id="senha"></h:inputText>
				
				<h:outputLabel></h:outputLabel>
				<h:commandButton value="Logar" actionListener="#{despesaBean.logar}"></h:commandButton>
				</h:panelGrid>
				
		</h:form>
	</div>
	
	<footer>
		<div class="center">
			<p>Sistema de despesas</p>
		</div>
	</footer>

</h:body>

</html>